.widget.digitalIn {
//	background-color: #ddd;

	li.active {
		color: #fff;
		background-color: #666;
	}
	.title {
		/*background-color: #a5c9ea;*/
	}
	.settings {
		input {
			width: 25px;
		}
	}
}



