

.widget.analogIn {
	background-color: #ddd;
	height: 225px;

	li.active {
		color: #fff;
		background-color: #666;
	}
	.title {
		background-color: #a5c9ea;
	}
	.settings {
		input {
			width: 25px;
		}
	}
}



