
.elementControl {
	position: absolute;
	top: 150px;
	left: 130px;

	display: block;
	width: 100px;
	height: 200px;

	margin: 0;
	padding: 15px;

	background-color: #ffc93f;
	border: 1px solid #666;
	border-radius: 5px;

	input {
		width: 80px;
	}

	.element {
		display: block;

		position: absolute;
		top: 50px;
		left: 30px;
	}
}
