
#patcherRegion {
	display: block;
	width: 100%;
	height: 100%;

	margin: 0;
	padding: 15px;

	background-color: #eee;

	font-family: 'Arial', sans-serif;
	font-size: 12px;
}

.restrictiveOverlay {
	position: absolute;
	top:0px;
	left:74px;

	width:100%;
	height:100%;

	/*background-color: rgba(0,0,0,0.9);*/
	background-color: rgba(0,0,0,0);

	.message {
		display: block;
		position: absolute;

		top: 48%;
		left: 40%;

		color: #F00;
		opacity: 0;

		font-size: 24px;

	}
}
