.sass-cache
.tmp
app/bower_components
node_modules
server/app
server/node_modules
dist/
.tern-project
server/modules/nlHardware/currentPatch.json
npm-debug.log
.sync
*.vim
packaged/*
currentPatch.ntk
