
.data {
    
    .dataOut {
        font-size: 11px;
        overflow: hidden;
        height: 60px;

        margin-bottom: 2px;
        clear: both;
    }
    .widgetBodyTop {
        
    }

	.title {
		
	}

}
