@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/scott\/dev\/widgets-html5\/app\/styles\/global\.scss}line{font-family:\000031}}
body, html {
  margin: 0;
  width: 100%;
  height: 100%;
}
