@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/scott\/dev\/widgets-html5\/app\/styles\/patcher\.scss}line{font-family:\000032}}
#patcherRegion {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 15px;
  background-color: #999;
}
